@model IEnumerable<Task4.Models.User>
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<div style="position: absolute; top: 0px; right: 0px;">
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form><br />
</div>
       <form method="post" asp-controller="Home" asp-action="Method">
           <div class="btn-toolbar">
               <input type="submit" name="submit2" value="Block">
               <input type="image" name="submit2" value="Unblock" src="~/images/unblock.png" />
               <input type="image" name="submit2" value="Delete" src="~/images/delete.png" />
           </div>
           <table class="table" border="1" cellpadding="4" cellspacing="0">
               <tr class="bg-success"><th><input type="checkbox" id="checkAll" /></th><th>ID</th>
               <th>UserName</th><th>Email</th><th class="span2">Registration date</th><th>Last login</th>
               <th>Status</th></tr>
               @foreach (var user in Model)
               {
                   <tr class="bg-success">
                       <td><input type="checkbox" class="simple-checkbox" name="id" value=@user.Id /></td>
                       <td>@user.Id</td>
                       <td>@user.UserName</td>
                       <td>@user.Email</td>
                       <td>@user.Registration</td>
                       <td>@user.LastLogin</td>
                       <td>@user.Status</td>
                   </tr>
               }
           </table>
           </form>
           <script>
               var checkAll = document.getElementById('checkAll');
               var checkboxes = document.querySelectorAll('.simple-checkbox');

               checkAll.addEventListener('change', function (e) {
                   var isChecked = this.checked;

                   for (var i = 0; i < checkboxes.length; i++) {
                       checkboxes[i].checked = isChecked;
                   }

               });
               $('input[type=image]')
                   .unbind('mousedown')
                   .mousedown(function () {
                       $(this).after('<input type="hidden" name="' + $(this).attr('name') + '" value="' + $(this).attr('value') + '" />');
                   });
           </script>
